<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<th:block th:include="~{fragments/head}"></th:block>
<body id="page-top">

<th:block th:include="~{fragments/nav}"></th:block>

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Вашият помощник в решаването на по-трудни задачи за шести клас!</div>
        <div class="masthead-heading text">Сайт за отличници ;) </div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/info">Разберете повече</a>
    </div>
</header>

<th:block th:include="~{fragments/fot}"></th:block>
</body>
</html>
