<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<th:block th:include="~{fragments/head}"></th:block>
<body id="page-top">

<th:block th:include="~{fragments/nav}"></th:block>

<main class="p-5 align-content-center bg-blur my-register-div">
    <section class="page-section" >
        <div class="container">
            <hr class="border-bottom w-50">
            <div class="mt-5 col-sm-12 my-auto align-self-center">
                <h5>Mоже да намерите търсения урок като въведете тема в даденото по-долу поле</h5>
                <input id="searchInput" class="form-control mr-sm-2 w-50 " type="search"
                       placeholder="Въведете тема" aria-label="Search">
                <hr class="border-bottom w-50">
            </div>
            <hr class="border-bottom w-75">
        </div>

        <form>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row" id="lessonsList">
                            <div class="col-lg-4 col-md-6 mb-4" th:each="v : ${lessonEntity}" th:object="${v}">
                                <div class="card h-100">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <video width="320" height="240" controls controlsList="nodownload">
                                            <source th:src="*{lessonUrl}" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title" >
                                            <a th:href="@{/lesson/view/{id}(id =*{id})}" th:text="*{lessonName}"></a>
                                        </h4>
                                        <h5>безплатно</h5>
                                        <p class="card-text" th:text="*{chapterName}"></p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a th:href="@{/lesson/view/{id}(id =*{id})}"  type="button" class="btn btn-sm btn-outline-secondary">Детайли</a>
                                            </div>

                                            <div sec:authorize="hasRole('ROLE_MODERATOR')" class="btn-group">
                                                <a th:href="@{/lesson/delete/{id}(id =*{id})}"  type="button" class="btn btn-sm btn-outline-secondary">Изтрий</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>                `
                </div>
            </div>
        </form>
    </section>
</main>
<th:block th:include="~{fragments/fot}"></th:block>

<script th:src="@{/js/search-bar2.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>
