<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<th:block th:include="~{fragments/head}"></th:block>
<body id="page-top">

<th:block th:include="~{fragments/nav}"></th:block>
<main class="p-5 align-content-center bg-blur my-register-div">
    <section class="page-section bg-light" id="video-view">
    <div   class="container">
        <div  th:object="${video}">
        <div class="row">
            <h3 th:text="*{videoName}"></h3>
            <div class="embed-responsive embed-responsive-16by9">
                <video width="320" height="240" controls controlsList="nodownload">
                    <source th:src="*{videoUrl}" type="video/mp4">
                </video>
            </div>
            <div class="container">
                <textarea name="text" class="form-control ml-1 shadow-none textarea" th:text="*{description}"></textarea>
            </div>
            <div  sec:authorize="hasRole('ROLE_MODERATOR')" class="col-md-8">

                <h6 class="large text-muted">Желаете ли да изтриете цялата информация по това видео-решение?</h6>
                <p></p>

                <a class="btn btn-primary btn-sm shadow-none" th:href="@{/video/delete/{id}(id =*{id})}">Изтрий </a>

            </div>
        </div>
    </div>
        <div  class="row rounded mb-5 mt-3">
            <div class="container mt-5">
                <div class="d-flex justify-content-center row ">
                    <div class="col-md-8">
                        <h6>Може да изпратите коментар към изгледаното видео-решение ;)</h6>
                        <div class="d-flex flex-column comment-section ">
                              <div th:object="${video}" class="bg-blur text-light p-2 rounded">
                                  <div class="btn-group">
                                      <a th:href="@{/video/comment/{id}(id =*{id})}"  type="button" class="btn btn-sm btn-outline-secondary">Коментирай</a>
                                  </div>
<!--                                <form th:action="@{/video/comment/{id}(id =*{id})}" method="POST"  >-->
<!--                                    <div  class="d-flex flex-row align-items-start">-->
<!--                                        <textarea class="form-control" rows="5" id="textContent" name ="textContent"  ></textarea>-->
<!--                                    </div>-->
<!--                                    <div class="mt-2 text-right">-->
<!--                                        <button class="btn btn-primary btn-sm shadow-none" type="submit" >Изпратете коментара-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</main>
<th:block th:include="~{fragments/fot}"></th:block>
</body>
</html>